{:paths ["src" "test" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/core.match {:mvn/version "1.0.1"}
  manifold/manifold {:mvn/version "0.4.1"}
  mount/mount {:mvn/version "0.1.17"}
  nrepl/nrepl {:mvn/version "1.0.0"}
  metosin/jsonista {:mvn/version "0.3.7"}

  com.taoensso/timbre {:mvn/version "6.2.2"}

  ;; Ensure all logging flows through Timbre.
  com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}

  com.cognitect/anomalies {:mvn/version "0.1.12"}
  de.otto/nom {:mvn/version "0.3.0"}
  luposlip/json-schema {:mvn/version "0.4.1"}
  metosin/malli {:mvn/version "0.12.0"}}

 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.86.1355"}
                      nubank/matcher-combinators {:mvn/version "3.8.8"}}
         :main-opts ["-m" "kaocha.runner"]}
  :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.37.0"}
                      djblue/portal {:mvn/version "0.46.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}}}
  :outdated {:deps {com.github.liquidz/antq {:mvn/version "2.5.1109"}}
             :main-opts ["-m" "antq.core"]}
  :format {:deps {dev.weavejester/cljfmt {:mvn/version "0.11.2"}}
           :main-opts ["-m" "cljfmt.main" "fix"]}}

 :mvn/repos
 {;; https://github.com/luposlip/json-schema
  "jitpack.io" {:url "https://jitpack.io"}}}
