{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        manifold/manifold {:mvn/version "0.3.0"}
        mount/mount {:mvn/version "0.1.17"}
        nrepl/nrepl {:mvn/version "1.0.0"}
        metosin/jsonista {:mvn/version "0.3.7"}}
 :aliases {:nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.29.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.75.1190"}
                               nubank/matcher-combinators {:mvn/version "3.7.2"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
